.customer-page {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
  }

.dashboard-header {
  text-align: center;
  margin-bottom: 30px;
}

.dashboard-header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.dashboard-header p {
  font-size: 1rem;
  color: #666;
}


.dashboard-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;

    
}



