@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    font-family: 'Poppins', sans-serif;
    position: sticky;
    top: 0;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4caf50;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .navbar-links li {
    font-size: 1rem;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #f0f0f0;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #4caf50; 
  }
  
.button {
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 1rem;
    color: #4caf50;
    border: 2px solid #4caf50;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
  }
  
  .button::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #4caf50;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .button:hover::before {
    scale: 3;
  }
  
  .button:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px #4caf50;
  }
  
  .button:active {
    scale: 1;
  }
  
  
  
  